 <ul class="content_list_bloc_accessoire row">
    <li class="col-md-4">
        <div class="content_list_bloc_accessoire_inner">
            <div class="content_image_list_accessoire owl-carousel owl-theme">
               <div class="item">
                    <img src="{{ asset('assets/images/cuve transparente.png') }}" alt="" class="img-fluid"/>
                </div>
            </div>
            <div class="content_titre_liste_accessoire">
                <h4>Cuve à eau en inox</h4>
            </div>
            <div class="d-none content_texte_liste_accessoire">
               Turpis imperdiet magna hendrerit netus blandit euismod et malesuada. In vestibulum platea morbi laoreet scelerisque id egestas egestas.
            </div>
        </div>
    </li>
    <li class="col-md-4">
        <div class="content_list_bloc_accessoire_inner">
            <div class="content_image_list_accessoire owl-carousel owl-theme">
               <div class="item">
                    <img src="{{ asset('assets/images/cuve_pe_600.png') }}" alt="" class="img-fluid"/>
                </div>
            </div>
            <div class="content_titre_liste_accessoire">
                <h4>Citernes PE de différentes capacités</h4>
            </div>
            <div class="d-none content_texte_liste_accessoire">
               Turpis imperdiet magna hendrerit netus blandit euismod et malesuada. In vestibulum platea morbi laoreet scelerisque id egestas egestas.
            </div>
        </div>
    </li>
</ul>