{% extends "layout/app.html.twig" %}

{% block content %}
    <h1>{{app.user.email}}</h1> <br>
    <div class="d-flex justify-content-end">
        <a href="{{path('app_logout')}}" class="btn btn-danger"> Logout</a>
    </div>
{% endblock %}