
{% for message in success_messages %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in errors_messages %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

