<div class="d-flex justify-content-center mt-4">
    <nav>
        <ul class="pagination">
            {% if currentPage > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(path, app.request.query.all|merge({'page': currentPage - 1})) }}" aria-label="Précédent">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}
            
            {% for i in 1..maxPages %}
                <li class="page-item {% if i == currentPage %}active{% endif %}">
                    <a class="page-link" href="{{ path(path, app.request.query.all|merge({'page': i})) }}">{{ i }}</a>
                </li>
            {% endfor %}
            
            {% if currentPage < maxPages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(path, app.request.query.all|merge({'page': currentPage + 1})) }}" aria-label="Suivant">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
