 <div class="container mb-5">
    <div class="row customers">
        <div class="col-md-6">
            <div class="card shadow-sm border-0 mb-4">
                <!-- Première image -->
                <img src="{{ asset('assets/images/damien.jpg') }}" class="card-img-top rounded-top" alt="Photo de profil">
                
                <div class="card-body">
                <div class="caption">
                    <h3 class="card-title fw-bold">Damien LOYAL</h3>
                    <p >"Avoir un mental 100 % positif, c’est le   secret. La clé de toutes les victoires" - Mike Horn </p>
                </div>
                    <img src="{{ asset('assets/images/chart.jpg') }}" class="card-img-bottom rounded-bottom" alt="chart">
                </div>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm border-0 mb-4">
                <!-- Première image -->
                <img src="{{ asset('assets/images/avatar2.jpg') }}" class="card-img-top rounded-top" alt="Photo de profil">
                
                <div class="card-body">
                <div class="caption">
                    <h3 class="card-title fw-bold">Sylvain SEBASTIEN</h3>
                    <p >"Rien n’est impossible, seules les limites de   nos esprits définissent certaines choses comme inconcevables." - Marc Levy</p>
                </div>
                    <img src="{{ asset('assets/images/chart2.jpg') }}" class="card-img-bottom rounded-bottom" alt="chart">
                </div>
                
            </div>
        </div>
    </div>
</div>