   <div class="container valeur">
    <h3 class="fs-32 fw-700 mb-5">Nos valeurs</h3>
        <div class="row">
            <div class="col-lg-4 col-md-12">
               <ul class="list-valeur">
                    <li class="list-unstyle">
                        <h4 class="d-flex gap-2 align-items-center fw-700 fs-20 roboto"><span class="badge bg-danger"></span>Echange</h4>
                        <p class="mb-1">Nous sommes fondamentalement attachés aux </p>
                        <ul class="list-disc ps-3">
                            <li>Echanges avec nos clients pour comprendre leurs réels besoins terrain</li>
                            <li>Echanges avec nos fournisseurs pour proposer à nos clients les solutions les plus adaptées.</li>
                        </ul>
                    </li>
                     <li class="list-unstyle">
                        <h4 class="d-flex gap-2 align-items-center fw-700 fs-20 roboto"><span class="badge bg-primary"></span>Local</h4>
                        <p class="mb-1">Entech est le seul fabricant Français de nettoyeur vapeur basse pression.
                        Nous sommes fiers de proposer une solution made in FRANCE.
                        Nous travaillons avec un maximum de fournisseurs locaux (VOSGES) et du matériel en provenance de l’Union Européenne. </p>
                    </li>
                    <li class="list-unstyle">
                        <h4 class="d-flex gap-2 align-items-center fw-700 fs-20 roboto"><span class="badge bg-success"></span>Développement durable</h4>
                        <p class="mb-1">
                        Nous nous inscrivons complètement dans la logique des 3 piliers du développement durabl </p>
                        <p class="mb-0 fw-700">Pilier environnemental : </p>
                        <ul class="list-disc ps-3">
                            <li>Préservation des ressources en eau en apportant des solutions économes en eau</li>
                            <li>Respect de la biodiversité : solutions sans produit chimique.</li>
                        </ul>
                        <p class="mb-0 fw-700">Pilier économique : </p>
                        <ul class="list-disc ps-3">
                            <li>Réduction de la surconsommation : solutions permettant de nettoyer plutôt que remplacer</li>
                            <li>Optimisation de la durée de vie des matériaux : solutions préservant les supports</li>
                        </ul>
                         <p class="mb-0 fw-700">Pilier sociétal : </p>
                        <ul class="list-disc ps-3">
                            <li>Préservation du Patrimoine : solutions permettant de faire durer le patrimoine bâtit</li>
                            <li>Equité et justice sociale : nous sommes attachés aux valeurs humaines, à l’honnêteté et à la transparence des relations</li>
                        </ul>
                    </li>
               </ul>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="img">
                        <img src="{{ asset('assets/images/val.jpg') }}" alt="Photo de profil">
                </div>
            </div>
        </div>
    </div>