<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{{path('app_home')}}">
            <i class="mdi mdi-grid-large menu-icon"></i>
             <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item nav-category">GESTIONS</li>
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link"  href="{{path('app_users')}}" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-account-group"></i>
                <span class="menu-title">Utilisateurs</span>
            </a>
        </li>
    {% endif %}
    
    <li class="nav-item">
        <a class="nav-link" href="{{path('app_machines')}}" aria-expanded="false" aria-controls="form-elements">
            <i class="menu-icon mdi mdi-desktop-tower"></i>
            <span class="menu-title">Machines</span>
        </a>
    </li>
</ul>