{% extends "layout/dashboard.layout.html.twig" %}
{% block title %}{{ is_edit ? 'Modifier' : 'Nouvel' }} utilisateur{% endblock %}

{% block content %}
    <div class="row flex-grow">
        <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                            <h4 class="card-title card-title-dash">{{ is_edit ? 'Modifier' : 'Nouvel' }} utilisateur</h4>
                        </div>
                        <div>
                            <a href="{{ path('app_users') }}" class="btn btn-secondary btn-md mb-0 me-0">
                                <i class="mdi mdi-arrow-left"></i> Retour
                            </a>
                        </div>
                    </div>
                    <div class="mt-4">
                        {% include "admin/user/form.html.twig" with {'form': form, 'is_edit':is_edit} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}