{% extends "layout/app.layout.html.twig" %}
{% block title %} Utilisateurs {% endblock %}

{% block content %}
    <div class="row">
        <h1>users count : {{ users|length }}</h1>
    </div>
{% endblock %}